<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}" th:with="title='Band Manager security token'">
<body>
<th:block layout:fragment="body">

    <div th:if="${user==null}">
        <p><form method="post" th:action="@{/oauth2/authorization/muni}"><button class="btn btn-outline-primary" type="submit">Login MUNI</button></form>
    </div>


    <div th:if="${user}">
        <table class="table">
            <tbody>
            <tr>
                <th scope="row">Token</th>
                <td th:text="${token}"></td>
            </tr>
            <tr>
                <th scope="row">ID</th>
                <td th:text="${userDetail.getId()}"></td>
            </tr>
            <tr>
                <th scope="row">Emaeil</th>
                <td th:text="${userDetail.getEmail()}"></td>
            </tr>
            <tr>
                <th scope="row">First name</th>
                <td th:text="${userDetail.getFirstName()}"></td>
            </tr>
            <tr>
                <th scope="row">Last name</th>
                <td th:text="${userDetail.getLastName()}"></td>
            </tr>
            </tbody>
        </table>
        <p><form method="post" th:action="@{/logout}"><button class="btn btn-outline-primary" type="submit">Logout</button></form></p>
    </div>


</th:block>
</body>
</html>